.red{
    border:none;
    background-color: red;
    border-radius: 20px;
    padding: 20px;
    color: white;
    margin: 20px;
    

}
.green{
    border:none;
    background-color: green;
    border-radius: 20px;
    padding: 20px;
    color: white;
    margin: 20px;
    

}